#graphContainer {

  // display:grid;
  // grid-template-columns: 300px 300px 300px;
  // grid-gap: 10px;
  // margin: 40px 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: center;
  justify-content: center;

  .graphContainers {
    width: 60%;
    p {
      min-width: 200px;
      width: 50%
    }
    .VictoryContainer {
      margin: 10px;
      max-width:100%;
      min-width: 300px;
      // max-height: 600px;
      min-height: 300px;
      // background-color: gray;
      // border-color: black;
      // justify-self: stretch;
    }
  }
}
