#Nav {
  height:65px;
  background-color: teal;

  #logo {
    width: 185px;
    height: inherit;

    img {
      width: 55px;
    }
  }

  #navigation {
    position: absolute;
    right: 0;

    ul {
      list-style: none;
      font-size: 14px;

      li {
        display: inline;
        &:extend(.margin-right);      
      }
    }

    .active {
      color: white;
      text-decoration: underline;
    }
  }
}
